<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <!-- id 表示你这个组件的名字，class表示组件类 -->
    <bean id="hello" class="com.jason.test.impl.HelloImpl1"/>

    <bean id="hello2" class="com.jason.test.impl.HelloImpl2">
        <constructor-arg index="0" value="Hello Spring3"></constructor-arg>
    </bean>

    <bean id="hello3" class="com.jason.test.factory.HelloApiStaticFactory" factory-method="newInstance">
        <constructor-arg index="0" value="Hello Spring3 factory"></constructor-arg>
    </bean>

    <bean id="beanInstanceFactory" class="com.jason.test.factory.HelloApiStaticFactory"/>

    <!--<bean id="hello4" factory-bean="beanInstanceFactory"  factory-method="newInstance">-->
    <!--<constructor-arg index="0" value="Hello Spring3 factory"></constructor-arg>-->
    <!--</bean>-->
</beans>